.home{
  &-header{
    position: relative;
    &-col{
      margin-bottom: 20px;
    }
    &-div{
      height: 110px;
      background: #fff;
      box-shadow: 0 0 10px #E6E6E6;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    &-icon{
      font-size: 65px;
    }
    &-word{
      line-height: 2;
      .label{
        color: #B6B6B6;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  &-parallel{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  &-content{
    position: relative;
    width: 100%;
    .grid-col{
      margin-bottom: 15px;
    }
    &-grid{
      width: 100%;
      height: 100%;
      border: 1px solid #D6D6D5;

    }
    &-echart{
      width: 100%;
      height: 300px;
    }
  }
  &-middle{
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #D6D6D5;
  }
}
